---
title: "Infographics"
---

<div class="padded-page">

<h1>Infographics</h1>

<%= partial(:infographic, :locals => { :title => "Problems Inherent In Dairy Production", :img => "dairy-problems.jpg", :data => "/data/dairy", :imgur => "http://i.imgur.com/FDj3PfL.jpg" }) %>
<%= partial(:infographic, :locals => { :title => "Problems Inherent In Egg Production", :img => "egg-problems.jpg", :data => "/data/eggs", :imgur => "http://i.imgur.com/eGMmzXc.jpg" }) %>
<%= partial(:infographic, :locals => { :title => "Animal Slaughter Interval in the U.S.", :img => "slaughter-interval.jpg", :data => "/data/slaughter", :imgur => "http://i.imgur.com/yNUogrF.jpg" }) %>

</div>

<% content_for :footer do %>
	<%= link_to "&laquo; Home", "/", :class => "footer-link footer-link-big" %>
<% end %>