<div class="highlight margined padded z-depth-1 clearfix">
  <h2 class="blog-title"><%= link_to article.title, article %></h2>
  <span class="blog-date">Posted <%= article.date.strftime('%B %e, %Y') %></span>
  <div class="blog-content">
    <%= article.body %>
  </div>
</div>