<ul class="tile-list clearfix">
  <li class="tile-info z-depth-1"><%= link_to "Infographics", "/info" %></li>
  <li class="tile-data z-depth-1"><%= link_to "Data, sources, and calculations", "/data" %></li>
  <li class="tile-akc z-depth-1"><%= link_to "Animal kill counter", "/counter" %></li>
</ul>