---
title: "Infographics"
layout: padded_layout
---

<h1>Resources</h1>

<%= partial('resources') %>

<% content_for :footer do %>
	<%= link_to "&laquo; Home", "/", :class => "footer-link footer-link-big" %>
<% end %>