<h2>Animals killed for food since opening this page</h2>
<ul class="animal-kill-counter">
  <li><span id="akc-wild_caught_fish">0</span> wild caught fish</li>
  <li><span id="akc-chickens">0</span> chickens</li>
  <li><span id="akc-farmed_fish">0</span> farmed fish</li>
  <li><span id="akc-ducks">0</span> ducks</li>
  <li><span id="akc-pigs">0</span> pigs</li>
  <li><span id="akc-rabbits">0</span> rabbits</li>
  <li><span id="akc-geese">0</span> geese</li>
  <li><span id="akc-turkeys">0</span> turkeys</li>
  <li><span id="akc-sheep">0</span> sheep</li>
  <li><span id="akc-goats">0</span> goats</li>
  <li><span id="akc-cattle">0</span> cattle</li>
  <li><span id="akc-rodents">0</span> rodents</li>
  <li><span id="akc-other_birds">0</span> pigeons and other birds</li>
  <li><span id="akc-buffalo">0</span> buffalo</li>
  <li><span id="akc-horses">0</span> horses</li>
  <li><span id="akc-donkeys">0</span> donkeys and mules</li>
  <li><span id="akc-camels">0</span> camels and other camelids</li>
</ul>

<h3>Sources</h3>
<ul>
  <li><%= link_to "FAOSTAT [Region: <i>World + (Total)</i>, Element: <i>Producing Animals/Slaughtered</i>, Items Aggregated: <i>Meat, Total > (List)</i>, Year: <i>2013</i>]", "http://faostat3.fao.org/download/Q/QL/E" %></li>
  <li><%= link_to "Fish count estimates (fishcount.org.uk)", "http://fishcount.org.uk/fish-count-estimates" %></li>
</ul>