<h2>Animals killed for food since opening this page</h2>
<ul class="animal-kill-counter">
  <li><span id="akc-wild_caught_fish">0</span> wild caught fish <span id="akc-wild_caught_fish-milestone"></span></li>
  <li><span id="akc-chickens">0</span> chickens <span id="akc-chickens-milestone"></span></li>
  <li><span id="akc-farmed_fish">0</span> farmed fish <span id="akc-farmed_fish-milestone"></span></li>
  <li><span id="akc-ducks">0</span> ducks <span id="akc-ducks-milestone"></span></li>
  <li><span id="akc-pigs">0</span> pigs <span id="akc-pigs-milestone"></span></li>
  <li><span id="akc-rabbits">0</span> rabbits <span id="akc-rabbits-milestone"></span></li>
  <li><span id="akc-geese">0</span> geese <span id="akc-geese-milestone"></span></li>
  <li><span id="akc-turkeys">0</span> turkeys <span id="akc-turkeys-milestone"></span></li>
  <li><span id="akc-sheep">0</span> sheep <span id="akc-sheep-milestone"></span></li>
  <li><span id="akc-goats">0</span> goats <span id="akc-goats-milestone"></span></li>
  <li><span id="akc-cattle">0</span> cattle <span id="akc-cattle-milestone"></span></li>
  <li><span id="akc-rodents">0</span> rodents <span id="akc-rodents-milestone"></span></li>
  <li><span id="akc-other_birds">0</span> pigeons and other birds <span id="akc-other_birds-milestone"></span></li>
  <li><span id="akc-buffalo">0</span> buffalo <span id="akc-buffalo-milestone"></span></li>
  <li><span id="akc-horses">0</span> horses <span id="akc-horses-milestone"></span></li>
  <li><span id="akc-donkeys">0</span> donkeys and mules <span id="akc-donkeys-milestone"></span></li>
  <li><span id="akc-camels">0</span> camels and other camelids <span id="akc-camels-milestone"></span></li>
</ul>

<h3>Sources</h3>
<ul>
  <li><%= link_to "FAOSTAT [Region: <i>World + (Total)</i>, Element: <i>Producing Animals/Slaughtered</i>, Items Aggregated: <i>Meat, Total > (List)</i>, Year: <i>2013</i>]", "http://faostat3.fao.org/download/Q/QL/E" %></li>
  <li><%= link_to "Fish count estimates (fishcount.org.uk)", "http://fishcount.org.uk/fish-count-estimates" %></li>
</ul>
