---
title: "Data, Sources, and Calculations"
layout: padded_layout
---

<%
def sub_pages(dir, ignore)
  sitemap.resources.select do |resource|
    resource != ignore and resource.path.start_with?(dir) and resource.path.end_with?("html")
  end
end
%>

<h1>Data, Sources, and Calculations</h1>
<ul>
<% sub_pages('data', current_page).each do |resource| %>
	<li><%= link_to resource.data.title, resource.url %></li>
<% end %>
</ul>

<% content_for :footer do %>
	<%= link_to "&laquo; More resources", "/resources", :class => "footer-link footer-link-big" %>
<% end %>